.vscode/**
.vscode-test/**
src/**
.gitignore
.gitattributes
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
preview.png
CHANGELOG.md
out/test/**
.claude/**
node_modules/@vscode/codicons/**
!node_modules/@vscode/codicons/package.json
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
